<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">


    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:yellow">Service Employee</a>
 
    </div>
    
    <ul class="nav navbar-nav">
    <li class="active"><a href="/employee/homerelatednews">Home</a></li>
    
    
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Employeement Details<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/employee/list">EmployeeList</a></li>
          
        </ul>
      </li>
    </ul>
    
    <ul class="nav navbar-right">
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Logger Details<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/logging/list">LoggingsList</a></li>
          </ul>
        </ul>
     
    </div>
    </nav>
    
    
    
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<h1>Welcome to Goverment of India </h1>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

